body{
    margin:0;
    padding:0;
}

#wrapper{
    width: 90%;
    margin:0 auto;
    min-width: 360px;
}
#bar{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.barwrapper{
    width:100%;
    border:2px solid #dcdcdc;
    background:#fff;
    line-height:30px;
    margin-top: 10px;
    text-indent: 50%;
}

.bar{
    background: steelblue;
    color: #222;
    text-shadow: 1px 1px 3px #666;
    font-weight: bold;
}

#barselection{
    width: 225px;
    margin-top: 20px;
    padding: 10px;
    text-indent: 10px;
    box-sizing: border-box;
}

#buttons{
    width: 100%;
    padding: 20px 0px;
    box-sizing: border-box;
}

.btn{
    padding: 10px;
    margin-right: 20px;
}
